$extra-light-red: #fff5d4;
$light-red: #e8a23e;
$medium-red: #eb5d5b;
$dark-red: #d60200;

$extra-light-green: #d9f5f5;
$light-green: #9ee6d9;
$medium-green: #00cca9;
$dark-green: #00bd9c;

$light-blue: #deebf9;
$medium-blue: #2c3e50;

$extra-light-gray: #f7f8f8;
$light-gray: #f0f2f2;
$medium-gray: #e3e5e5;
$extra-dark-gray: #858585;

$white: #fff;
$black: #000;
